@page "{handler?}"
@model ListVehiculoModel
@{
    ViewData["Title"] = "Listadueño";
    
}

<h1>  Vehiculos Actualmente</h1>
<a asp-page="/Services/Services" class="btn-defaoult">Volver</a>

<div class="form-group">
  <form method="get" id = "formuadmin" class="mt-5 mb-3 formuadmin"  >
        <label asp-for ="filter">Filtro</label></br>
        <input name="Pla" asp-for = "filter" class="form-control" ></br>
        <button type="submit" class="btn btn-primary">Filtrar</button>
  </form>
</div>

<table class="table mt-5 mb-3">

    <thead>
      <tr>       
        <th>Placa</th>        
        <th>Marca</th>        
      </tr>
    </thead>
    @foreach (var vehiculo in Model.Vehiculos)
    {
        <tr>
            
            <td>@vehiculo.Placa</td>            
            <td>@vehiculo.Marca</td>
            
            
            <td>
              <a class="btn btn-primary table-btn" asp-page="./EditVehiculo" asp-route-IdVehiculo = "@vehiculo.IdVehiculo">Editar</a>
              <a class="btn btn-danger" asp-page="./DeleteVehiculo" asp-route-IdVehiculo = "@vehiculo.IdVehiculo">Eliminar</a>
              <a class="btn btn-primary table-btn" asp-page="./DetailVehiculo" asp-route-IdVehiculo = "@vehiculo.IdVehiculo">Detalle</a>
              <a class="btn btn-primary table-btn" asp-page="./AddMecanico" asp-route-Placa = "@vehiculo.Placa">Asignar Mecanico</a>
              <a class="btn btn-primary table-btn" asp-page="./AddSeguro" asp-route-IdVehiculo = "@vehiculo.IdVehiculo">Comprar Seguro</a>
              <a class="btn btn-primary table-btn" asp-page="./AddDueño" asp-route-Placa = "@vehiculo.Placa">Asignar Dueño</a>
              <a class="btn btn-primary table-btn" asp-page="./AddChangeParts" asp-route-IdVehiculo = "@vehiculo.IdVehiculo">Cambio Repuestos</a>


            </td>

        </tr>
    }
</table>