@page 
@model DetailNivelesModel

@{
}
<h2>Revisión de niveles ID : @Model.Niveles.IdNiveles - Vehiculo  @Model.Vehiculo.Placa </h2>
<a class="btn-defaoult" asp-page ="./ListNiveles">Volver</a>

<table class="table mt-5 mb-3"> 

        <thead>
      <tr>
        <th>ID</th>
      </tr>
    </thead>
    <tr>
        <td>@Model.Niveles.IdNiveles</td>
    </tr>

        <thead>
      <tr>
        <th>Nivel Aceite</th>
      </tr>
    </thead>
    <tr>
        <td>@Model.Niveles.NivelAceite</td>
    </tr>
        <thead>
      <tr>
        <th>Nivel Liqudo Frenos</th>
      </tr>
    </thead>
    <tr>
        <td>@Model.Niveles.NivelLiquidoFrenos</td>
    </tr>

        <thead>
      <tr>
        <th>Nivel Liquido Refrigerante</th>
      </tr>
    </thead>
    <tr>
        <td>@Model.Niveles.NivelRefrigerante</td>
    </tr>
        <thead>
      <tr>
        <th>Nivel Liquido Frenos</th>
      </tr>
    </thead>
    <tr>
        <td>@Model.Niveles.NivelLiquidDireccion</td>
    </tr>

        <thead>
      <tr>
        <th>Vehiculo</th>
      </tr>
    </thead>
    <tr>
        <td>@Model.Vehiculo.Placa</td>
    </tr>
 

</table>
