@page "{handler?}"
@model ListNivelesModel
@{
    ViewData["Title"] = "Listado Niveles";
}

<h1>  Revisiones de niveles Hechas</h1>
<a asp-page="/Services/ServicesTec" class="btn-defaoult">Volver</a>
<table class="table mt-5 mb-3">

    <thead>
      <tr>
        <th>ID Revisión</th>
        <th>Fecha</th>
        <th>ID Vehiculo</th>
        <th>Placa</th>
     
        
      </tr>
    </thead>
    @foreach (var nivel in Model.Niveles)
    {
        <tr>
            <!--<td>vehiculo.IdVehiculo</td>-->
            <td>@nivel.IdNiveles</td>
            <!--<td>vehiculo.Tipo</td>-->
            <td>@nivel.FechaHora</td>
            <!--<td>vehiculo.Modelo</td>-->
            <!--<td>vehiculo.NumeroPasajeros</td>-->
            <!--<td>vehiculo.PaisOrigen</td>-->
            <!--<td>vehiculo.DescripcionAdicional</td>-->
            <!--<td>vehiculo.Dueño</td>
            <td>vehiculo.Mecanico</td>-->
            <td>@nivel.IdVehiculo</td>
            <td>@nivel.Placa</td>
            <td>
              <a class="btn btn-primary table-btn" asp-page="./EditNiveles" asp-route-IdNiveles = "@nivel.IdNiveles">Editar</a>
              <a class="btn btn-danger" asp-page="./DeleteNiveles" asp-route-IdNiveles = "@nivel.IdNiveles">Eliminar</a>
              <a class="btn btn-primary table-btn" asp-page="./DetailRevision" asp-route-IdNiveles = "@nivel.IdNiveles">Detalle</a>
            </td>

        </tr>
    }
</table>