@page "{handler?}"
@model ListPartsModel
@{
    ViewData["Title"] = "Listado Repuestos";
}

<h1>  Repuestos</h1>
<a asp-page="/Services/Services" class="btn-defaoult">Volver</a>
<table class="table mt-5 mb-3">

    <thead>
      <tr>
        <th>ID Repuesto</th>
        <th>Nombre</th>
        <th>Valor</th>
           
        
      </tr>
    </thead>
    @foreach (var parts in Model.Repuestos)
    {
        <tr>
            <td>@parts.IdRepuesto</td>
            <td>@parts.Nombre</td>
            <td>@parts.Valor</td>
            <td>
              <a class="btn btn-primary table-btn" asp-page="./EditNiveles" asp-route-IdRepuesto = "@parts.IdRepuesto">Editar</a>
              <a class="btn btn-primary table-btn" asp-page="./DeleteNiveles" asp-route-IdRepuesto = "@parts.IdRepuesto">Eliminar</a>
              <a class="btn btn-primary table-btn" asp-page="./DetailRevision" asp-route-IdRepuesto = "@parts.IdRepuesto">Detalle</a>
            </td>

        </tr>
    }
</table>